* {
  box-sizing: border-box;
}

.gallery_pages {
  padding: 0px;
}
.examples_title {
  background-color: #232328;
  border-top: 2px solid #ffcc00;
  display: block;
  margin: 0px;
  height: 50px;
}

#gallery {
  border-top: 2px solid #ffcc00;
  border-bottom: 5px groove #ffcc00;
  background: linear-gradient(to top, rgba(56, 60, 71, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
}

#workExamples {
  color: white;
  text-align: center;
  padding-top: 10px;
  margin: 0px;
}

.image_grid {
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#selected {
  display: inline-block;
  color: rgba(0, 153, 153, 1);
  background-color: rgba(56, 60, 71, 0.5);
  border: 1px solid; padding: 10px;
  font-size: 24px;
  width: auto;
  margin: 10px;
  list-style: outside none none;
}

#logo {
  color: #ffcc00;
  font-size: 32px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 22px;
}

@keyframes toGrey {
  0% {
    background-color: #232328;
    transition-timing-function: ease;
  }
  100% {
    background-color: dimgrey;
    padding: 10px;
    transition-timing-function: ease;
  }
}

#selection1 {
  position: relative;
}

#selection2 {
  position: relative;
}

#selction3 {
  position: relative;
}

#selection1 a:hover {
  animation: toGrey 2s 1;
}

#selection2 a:hover {
  animation: toGrey 2s 1;
}

#selection3 a:hover {
  animation: toGrey 2s 1;
}

#top-logo {
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.page_list {
  display: inline-block;
  font-size: 24px;
  color: white;
  width: auto;
  margin: 30px;
  list-style: outside none none;
}

.grid_image img {
  box-shadow: 5px 5px 20px 1px;
  height: 350px;
  margin: 20px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform-origin: center;
}

.grid_image img:hover {
  transform: scale(1.4);
}

.no_shadow img {
  height: 350px;
  margin: 20px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transform-origin: center;
}

.no_shadow img:hover {
  transform: scale(1.2);
}

#current {
  color: #ffcc00;
  margin-left: 20px;
}

#I_Block {
  background: #232328;
  border-bottom: 1px solid #ffcc00;
  border-top: 1px solid #ffcc00;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

#paragraph {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: helveticaneue;
}

#nav_whole {
  color: white;
  background: #232328;
  border-bottom: 1px solid #ffcc00;
  padding-inline-start: 0px;
  margin-top: 0px;
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
}

#nav_links {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  right: 0px;
  top: 0px;
  padding: 10px 20px;
}

#nav_bar {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.right_link {
  margin-left: 20px;
}

.icon {
  display: none;
}

main {
  font-family: times;
}

header {
  font-family: times;
}

body {
  margin: 0px;
  background-image: url("../Space_Background.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.footer {
  border-top: 2px solid #ffcc00;
  background-color: #232328;
  color: #ffcc00;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
      "head head head"
      "Line1-1 Line1-2 Line1-3"
      "Line2-1 Line2-2 Line2-3"
      "Line3-1 Line3-2 Line3-3"
      "Contact Contact2 Contact3"
      "Copyright Copyright2 Copyright3";
  gap: 10px 30px;
}

#head {
  grid-area: head;
  font-size: 24px;
  border-bottom: 1px solid #232328;
}
#row1 {
  grid-area: Line1-1;
}
#row2 {
  grid-area: Line2-1;
}
#row3 {
  grid-area: Line3-1;
}
#row1-2 {
  grid-area: Line1-2;
}
#row2-2 {
  grid-area: Line2-2;
}
#phone {
  grid-area: Contact2;
}
#email {
  grid-area: Contact;
}
#insta {
  grid-area: Contact3;
}

@media screen and (max-width: 720px) {

  .image_grid {
    padding: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #selected {
    font-size: 18px;
    margin: 10px;
  }

  #logo {
    display: none;
  }

  .page_list {
    display: inline-block;
    font-size: 18px;
    color: white;
    width: auto;
    margin: 10px;
    list-style: outside none none;
  }

  .grid_image img {
    box-shadow: 5px 5px 20px 1px;
    height: 300px;
    margin: 30px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transform-origin: center;
  }

  .grid_image img:hover {
    transform: scale(1.4);
  }

  #I_Block {
    background: #232328;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
  }

  #paragraph {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: helveticaneue;
  }

  .footer {
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px 30px;
  }

}

@media screen and (max-width: 480px) {
  .grid_image img:hover {
    transform: scale(1.2);
  }

  footer div a {
    font-size: 12px;
  }

  footer div {
    font-size: 12px;
  }

  #current {
    padding-left: 20px;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "head head head"
        "Line1-1 Line1-2 Line1-3"
        "Line2-1 Line2-2 Line2-3"
        "Line3-1 Line3-2 Line3-3"
        "Contact Contact2 Contact3"
        "Copyright Copyright2 Copyright3";
    gap: 10px 30px;
  }

    #nav_whole {
      background: #232328;
      border-bottom: 1px solid #ffcc00;
      padding-inline-start: 0px;
      margin-top: 0px;
    }

    #nav_bar a {
      color: white;
      padding: 10px 10px;
      text-decoration: none;
      display: inline;
    }

    #nav_bar a:hover {
      background-color: dimgrey;
    }

    .active {
      background-color: #232328;
      color: white;
    }

    #nav_bar a.icon {
      background: #232328;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: auto;
      width: auto;
    }

    #nav_bar a.icon:active {
      background: dimgrey;
    }

    #nav_links {
      display: none;
      padding: 10px 30px;
    }

    #nav_bar {
      overflow: hidden;
      position: fixed;
    }

    .right_link {
      font-size: 20px;
      margin-right: 10px;
    }
}
