body {
  background-image: url("../../../images/content-bg.jpeg");
  background-position: center 400px;
}

h1 {
  font-family: 'Montaga', serif;
  font-weight: lighter;
}

header {
  display: flex;
  background-image: url("../../../images/header-bg.jpeg");
  padding-bottom: 0px;
  position: relative;
  background-position: center top;
  height: 138px;
  background-repeat: no-repeat;
  flex-direction: row;
  grid-area: header;
}

nav {
  grid-area: nav;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 1px auto 0px;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  grid-area: blog;
  font-weight: normal;
  text-align: left;
  font-family: 'Montaga', serif;
}

main h3 a {
  text-decoration: none;
  color: #1c4268;
  font-weight: bold;
  font-size: 18px;
}

main p {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 1.4em;
  font-size: 14px;
}

footer {
  grid-area: footer;
}

div img {
  border: 0px;
}

a {
  color: #1c4268;
  text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 333px 334px 333px 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        ".       header  header  header        ."
        ".       nav     nav     nav           ."
        "gutter1 banner  banner  banner  gutter2"
        "gutter1 card    card    card    gutter2"
        "gutter1 sidenav blog    blog    gutter2"
        "gutter1 footer  footer  footer  gutter2"
        "gutter1 bottom  bottom  bottom  gutter2";
}

#shield {
  background-image: url("../../../images/shield-spin.jpeg");
  background-position: left top;
  background-size: cover;
  height: 75px;
  width: 65px;
  margin: 18px 0px 0px 27px;
}

#shield:hover {
  background-image: url("../../../images/spin.gif")
}

#social {
  display: inline-block;
  vertical-align: top;
  height: 102px;
  width: auto;
}

#banner {
  grid-area: banner;
  background-image: url("../../../images/GRRM_slide.jpeg");
  background-position: center;
  background-size: cover;
  height: 310px;
  border: 3px solid grey;
}

#card {
  grid-area: card;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

#card img {
  flex: 1;
  padding: 6px 5px 5px 5px;
  border: 3px solid grey;
  background-image: url("../../../images/callout-bg-2.jpeg");
}

#NextAppearance {
  font-family: 'Montaga', serif;
  text-align: left;
  color: white;
  background-image: url("../../../images/events-bg.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 20px 10px;
  border: 3px solid grey;
}

.callout_bg {
  background-image: url("../../../images/artist-bg.jpeg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 6px 6px 2px 9px;
  width: 311px;
}

#NextAppearance h3, #date, #location {
  padding: 0 15px;
  line-height: 18px;
  margin-bottom: 10px;
}

#location {
  margin-bottom: 1.625em;
}

#NextPublication {
  font-family: 'Montaga', serif;
  text-align: left;
  color: white;
  background-image: url("../../../images/releases-bg.jpeg");
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 246px;
  padding: 20px 10px;
  border: 3px solid grey;
}

#news {
  padding: 20px 26px 10px;
}

#Valyrian {
  width: 306px;
}

#stageCoach {
  width: 306px;
}

#sidenav {
  grid-area: sidenav;
  display: block;
  width: 326px;
}

#bottom {
  background-image: url("../../../images/footer-bg.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  grid-area: bottom;
  height: 120px;
}

#gutter1 {
  grid-area: gutter1;
  border-right: 5px solid grey;
  margin-right: 0px;
}

#gutter2 {
  grid-area: gutter2;
  border-left: 5px solid grey;
  margin-left: 0px;
}

@media screen and (max-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
          "header"
          "nav"
          "banner"
          "card"
          "blog"
          "sidenav"
          "footer"
          "bottom"
    }

    nav ul {
      flex-direction: column;
    }

    #card {
      flex-direction: column;
    }
}
